* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: slateblue;
  overflow: hidden;
}

h1{
  font-weight: 400;
  margin-top: 2rem;
  transform-origin: 0 50%;
  animation: paused fall 5.5s ease-in-out forwards;
}

figure {
  text-align: center;
}

figure img {
  width: 300px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

figure figcaption {
  font-size: 1.4rem;
  font-weight: 400;
}

a {
  margin: auto;
  margin-top: 2rem;
  color: black;
  text-decoration: none;
  transition: 200ms;
}

a:hover {
  transform: scale(.98);
}

@keyframes fall {
  10% {
    transform: rotate(130deg);
  } 
  20% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(120deg);
  }
  40% {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(110deg);
  }
  60% {
    transform: rotate(80deg);
  }
  
  100% {
    transform: rotate(90deg) translateX(350vh);
  }
}
